html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    background-size: cover;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #294675;
}

.ham{
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span {
    display: block;
    background-color: #f3f3f3;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu {
    display: flex;
    padding: 0;

}

.enlaces-menu li{
    padding: 0 40px;
    list-style-type: none;
    transition: 0.3s;
}

.enlaces-menu li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #f3f3f3;
    font-weight: 700;
}

.enlaces-menu li:hover{
    background-color: rgb(62, 130, 197);
}

